<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
  <dict>
        <key>--project-name</key>  
        <string>UTCS</string>

        <key>--project-company</key>  
        <string>UTCS</string> 

        <key>--company-id</key>  
        <string>com.utcs</string>

        <key>--ignore</key>
        <array>
            <string>*.m</string>
            <string>*.framework</string>
            <string>Pods</string>
        </array>

        <key>--output</key>
        <string>./Documentation</string>

        <key>--keep-intermediate-files</key>  
        <true/>
  </dict>
</plist>