<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meta</key>
	<dict>
		<key>maximumGridHeight</key>
		<integer>524</integer>
		<key>maximumGridWidth</key>
		<integer>320</integer>
	</dict>
	<key>values</key>
	<dict>
		<key>glass-piercer</key>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>spaghetti-elemental</key>
		<dict>
			<key>x</key>
			<integer>106</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>smarmy-pirate</key>
		<dict>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>98</integer>
		</dict>
		<key>boba-fettucini</key>
		<dict>
			<key>x</key>
			<integer>234</integer>
			<key>y</key>
			<integer>64</integer>
		</dict>
		<key>clockwork-grapefruit</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>64</integer>
		</dict>
		<key>bazookafish</key>
		<dict>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>64</integer>
		</dict>
		<key>astral-badger</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>64</integer>
		</dict>
		<key>apathetic-lizardman</key>
		<dict>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>64</integer>
		</dict>
		<key>angry-goat</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>64</integer>
		</dict>
	</dict>
</dict>
</plist>
