<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>adorable-seal-larva</string>
    <string>airheads</string>
    <string>almond-joy</string>
    <string>almond-roca</string>
    <string>altoids</string>
    <string>angry-goat</string>
    <string>apathetic-lizardman</string>
    <string>astral-badger</string>
    <string>baby-purple-worm</string>
    <string>baby-ruth</string>
    <string>barrow-wight</string>
    <string>bazookafish</string>
    <string>big-league-chew</string>
    <string>bit-o-honey</string>
    <string>black-black</string>
    <string>blow-pops</string>
    <string>boba-fettucini</string>
    <string>butterfinger</string>
    <string>cadbury-cream-eggs</string>
    <string>candy-buttons</string>
    <string>candy-corn</string>
    <string>caramello</string>
    <string>charity</string>
    <string>chastity</string>
    <string>cherry-sours</string>
    <string>chick-o-stick</string>
    <string>chunky</string>
    <string>clark-bar</string>
    <string>clockwork-grapefruit</string>
    <string>comma-chameleon</string>
    <string>crunch</string>
    <string>cuddlefish</string>
    <string>diligence</string>
    <string>disco-bandit</string>
    <string>dots</string>
    <string>dubble-bubble</string>
    <string>dum-dums</string>
    <string>emo-squid</string>
    <string>enraged-cow</string>
    <string>envy</string>
    <string>ettin-mummy</string>
    <string>everlasting-gobstoppers</string>
    <string>fast-break</string>
    <string>floating-eye</string>
    <string>fumble-boots</string>
    <string>fun-dip</string>
    <string>glass-piercer</string>
    <string>gluttony</string>
    <string>goth-giant</string>
    <string>greed</string>
    <string>gummi-bears</string>
    <string>handsome-mariachi</string>
    <string>heath</string>
    <string>hersheys-kisses</string>
    <string>hezrou</string>
    <string>hobopolis</string>
    <string>hockey-elemental</string>
    <string>hostile-amoeba</string>
    <string>hot-tamales</string>
    <string>hovering-sombrero</string>
    <string>humility</string>
    <string>hundred-grand</string>
    <string>jelly-belly</string>
    <string>jolly-ranchers</string>
    <string>jujyfruits</string>
    <string>junior-mints</string>
    <string>ki-rin</string>
    <string>kindness</string>
    <string>kit-kat</string>
    <string>krackel</string>
    <string>laffy-taffy</string>
    <string>lemon-drops</string>
    <string>lemonheads</string>
    <string>lifesavers</string>
    <string>lindt-truffles</string>
    <string>little-dog</string>
    <string>lust</string>
    <string>marathon-bar</string>
    <string>marilith</string>
    <string>mars</string>
    <string>mary-jane</string>
    <string>mentos</string>
    <string>mike-n-ike</string>
    <string>milk-duds</string>
    <string>milky-way</string>
    <string>mounds</string>
    <string>mr-goodbar</string>
    <string>necco-wafers</string>
    <string>nerds</string>
    <string>now-n-laters</string>
    <string>octopus-gardener</string>
    <string>oh-henry</string>
    <string>oilskin-sack</string>
    <string>paper-golem</string>
    <string>pastamancer</string>
    <string>patience</string>
    <string>payday</string>
    <string>peanut-mms</string>
    <string>peeps</string>
    <string>pez</string>
    <string>pickle-on-a-stick</string>
    <string>pocky</string>
    <string>pop-rocks</string>
    <string>pride</string>
    <string>pulparindo</string>
    <string>pyrolisk</string>
    <string>quivering-blob</string>
    <string>raisinets</string>
    <string>razzles</string>
    <string>reeses-peanut-butter-cups</string>
    <string>riesen-chocolate-chews</string>
    <string>ring-of-slow-digestion</string>
    <string>ring-pops</string>
    <string>ritter-sport</string>
    <string>rollos</string>
    <string>sabretoothed-lime</string>
    <string>salt-water-taffy</string>
    <string>salta-katten</string>
    <string>seafoam</string>
    <string>shrieker</string>
    <string>skeletal-sommelier</string>
    <string>skittles</string>
    <string>sloth</string>
    <string>smarmy-pirate</string>
    <string>smarties</string>
    <string>snickers</string>
    <string>sour-patch-kids</string>
    <string>spaghetti-elemental</string>
    <string>spectral-jellyfish</string>
    <string>sprees</string>
    <string>squirrel-nut-zippers</string>
    <string>stab-bat</string>
    <string>starburst</string>
    <string>steam-vortex</string>
    <string>stinking-cloud</string>
    <string>swamp-duck</string>
    <string>sweethearts</string>
    <string>sweettarts</string>
    <string>take-5</string>
    <string>temperance</string>
    <string>three-musketeers</string>
    <string>tin-of-spinach</string>
    <string>tinning-kit</string>
    <string>titanothere</string>
    <string>toblerone</string>
    <string>tootsie-rolls</string>
    <string>turkish-delight</string>
    <string>turtles</string>
    <string>twix</string>
    <string>twoflower</string>
    <string>undead-elbow-macaroni</string>
    <string>vermincelli</string>
    <string>wand-of-wishing</string>
    <string>weretaco</string>
    <string>wrath</string>
</array>
</plist>
