<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meta</key>
	<dict>
		<key>navigationBarHeight</key>
		<integer>44</integer>
		<key>maximumGridHeight</key>
		<integer>524</integer>
		<key>maximumGridWidth</key>
		<integer>320</integer>
	</dict>
	<key>values</key>
	<dict>
		<key>airheads</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>456</integer>
		</dict>
		<key>aero</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>456</integer>
		</dict>
		<key>bit-o-honey</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>432</integer>
		</dict>
		<key>black-black</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<string>392</string>
		</dict>
		<key>cherry-sours</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>368</integer>
		</dict>
		<key>chick-o-stick</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>328</integer>
		</dict>
		<key>everlasting-gobstoppers</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>304</integer>
		</dict>
		<key>fast-break</key>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>264</integer>
		</dict>
		<key>jujyfruits</key>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>240</integer>
		</dict>
		<key>junior-mints</key>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>200</integer>
		</dict>
		<key>mars</key>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>176</integer>
		</dict>
		<key>now-n-laters</key>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>112</integer>
		</dict>
		<key>mary-jane</key>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>136</integer>
		</dict>
		<key>oh-henry</key>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>72</integer>
		</dict>
		<key>three-musketeers</key>
		<dict>
			<key>x</key>
			<integer>302</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>take-5</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>dummy1</key>
		<dict>
			<key>x</key>
			<integer>238</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>reeses-peanut-butter-cups</key>
		<dict>
			<key>x</key>
			<integer>174</integer>
			<key>y</key>
			<string>16</string>
		</dict>
		<key>sour-patch-kids</key>
		<dict>
			<key>x</key>
			<integer>198</integer>
			<key>y</key>
			<string>16</string>
		</dict>
		<key>razzles</key>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>raisinets</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>pulparindo</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>pop-rocks</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>pocky</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
	</dict>
</dict>
</plist>
