<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>aero</string>
    <string>airheads</string>
    <string>almond-joy</string>
    <string>almond-roca</string>
    <string>altoids</string>
    <string>baby-ruth</string>
    <string>big-league-chew</string>
    <string>bit-o-honey</string>
    <string>black-black</string>
    <string>blow-pops</string>
    <string>butterfinger</string>
    <string>cadbury-cream-eggs</string>
    <string>candy-buttons</string>
    <string>candy-corn</string>
    <string>caramello</string>
    <string>cherry-sours</string>
    <string>chick-o-stick</string>
    <string>chunky</string>
    <string>clark-bar</string>
    <string>crunch</string>
    <string>dots</string>
    <string>dubble-bubble</string>
    <string>dum-dums</string>
    <string>everlasting-gobstoppers</string>
    <string>fast-break</string>
    <string>fun-dip</string>
    <string>gummi-bears</string>
    <string>heath</string>
    <string>hersheys-kisses</string>
    <string>hot-tamales</string>
    <string>hundred-grand</string>
    <string>jelly-belly</string>
    <string>jolly-ranchers</string>
    <string>jujyfruits</string>
    <string>junior-mints</string>
    <string>kit-kat</string>
    <string>krackel</string>
    <string>laffy-taffy</string>
    <string>lemon-drops</string>
    <string>lemonheads</string>
    <string>lifesavers</string>
    <string>lindt-truffles</string>
    <string>marathon-bar</string>
    <string>mars</string>
    <string>mary-jane</string>
    <string>mentos</string>
    <string>mike-n-ike</string>
    <string>milk-duds</string>
    <string>milky-way</string>
    <string>mounds</string>
    <string>mr-goodbar</string>
    <string>necco-wafers</string>
    <string>nerds</string>
    <string>now-n-laters</string>
    <string>oh-henry</string>
    <string>payday</string>
    <string>peanut-mms</string>
    <string>peeps</string>
    <string>pez</string>
    <string>pocky</string>
    <string>pop-rocks</string>
    <string>pulparindo</string>
    <string>raisinets</string>
    <string>razzles</string>
    <string>reeses-peanut-butter-cups</string>
    <string>riesen-chocolate-chews</string>
    <string>ring-pops</string>
    <string>ritter-sport</string>
    <string>rollos</string>
    <string>salt-water-taffy</string>
    <string>salta-katten</string>
    <string>seafoam</string>
    <string>skittles</string>
    <string>smarties</string>
    <string>snickers</string>
    <string>sour-patch-kids</string>
    <string>sprees</string>
    <string>squirrel-nut-zippers</string>
    <string>starburst</string>
    <string>sweethearts</string>
    <string>sweettarts</string>
    <string>take-5</string>
    <string>three-musketeers</string>
    <string>toblerone</string>
    <string>tootsie-rolls</string>
    <string>turkish-delight</string>
    <string>turtles</string>
    <string>twix</string>
</array>
</plist>
